html
    head
        title
    body
        #box
            ul
                li 我是新闻
                li 我是新闻
                li 我是新闻
                li 我是新闻
                li 我是新闻
             #aside